<form #f="ngForm">
    <label>Base</label>
    <input type="radio"name="base" [(ngModel)]="pizza.base" value="tomate">  Tomates 3€ 
    <input type="radio"name="base" [(ngModel)]="pizza.base" value="creme">   Crème 4€ <hr>
    <label>Ingredients</label>
    <input type="checkbox"name="anchoix"[(ngModel)]="pizza.hasAnchoix"> Anchoix 1€
    <input type="checkbox"name="jambon"[(ngModel)]="pizza.hasJambon"> Jambon 2€
    <input type="checkbox"name="miel"[(ngModel)]="pizza.hasMiel"> Miel 3€
    <input type="checkbox"name="magret"[(ngModel)]="pizza.hasMagret"> Magret 4€
    <style>
        .ng-invalid:not(form) {color:red;}
        .ng-valid[required], .ng-valid.required {color:green;}
    </style>
    <p>Prix: {{getPrix()}}</p>
    <input type="button" [disabled]=isIncomplete() value="Commander">
    <span *ngIf="isIncomplete()">
        <p>Votre Pizza est incomplète il faut au moins une ingrédient et un base !</p>
    </span>
</form>
